[Unit]
Description=WebLogic Adminserver service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory="{{ domain_home }}/{{ domain_name }}"
Environment="JAVA_OPTIONS={{ admin_server_startup_arguments }}"
ExecStart="{{ domain_home }}/{{ domain_name }}/startWebLogic.sh"
ExecStop="{{ domain_home }}/{{ domain_name }}/bin/stopWebLogic.sh"
User=oracle
Group=oracle
KillMode=process
LimitNOFILE=65535
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
